.contactBackground {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to bottom,
      rgba(10, 24, 46, 1) 0%,
      rgba(10, 24, 46, 0.5) 50%,
      rgba(10, 24, 46, 1) 100%
    ),
    url("/src/assets/contact.webp");
}
