.logo {
  transition: filter 0.3s ease, transform 0.3s ease;
}

.logo:hover {
  filter: drop-shadow(0 0 0.5em #61dafbcc);
}

.logoSpin {
  animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
