@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color-primary: #64ffda;
  --color-secondary: #0a182e;
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-space-mono: "Space Mono", monospace;
}

.font-sans-serif {
  font-family: var(--font-space-grotesk);
}

.font-monospace {
  font-family: var(--font-space-mono);
}

.logo {
  transition: filter 0.3s ease, transform 0.3s ease;
}

.logo:hover {
  filter: drop-shadow(0 0 0.5em #61dafbcc);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-spin {
  animation: logo-spin infinite 20s linear;
}

.text-outline {
  -webkit-text-stroke: 1px var(--color-primary);
  color: transparent;
}

.about-background {
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(10, 24, 46, 1) 0%,
      rgba(10, 24, 46, 0.5) 50%,
      rgba(10, 24, 46, 1) 100%
    ),
    url("/about.webp");
}

@import "tailwindcss";
